#disqus-identifier {
    display: none;
}

#content, #postamble, #disqus_thread, table {
  margin: 0 auto;
}

#content, #postamble, #disqus_thread {
  max-width: 1080px;
}

#postamble {
    margin-top: 1.2em;
}

@media (max-width: 1366px) {
    #content, #postamble, #disqus_thread {
        max-width: 768px;
    }
}

th.org-left {
    text-align: left;
}
