#main, #header, #menu, #footer {
    margin-left: 11%;
    width: 70.25%;
    box-sizing: border-box;
    padding: 0 3em;
}

#menu button {
    margin-right: 0.5em;
    padding: 0.5ex 1ex;
    background: #dcdcdc;
    border: none;
    border-radius: 2px;
}

#menu button:hover, button#selected {
    background: #c0c0c0;
}

#footer {
    margin-top: 1.2em;
}

#left-pane {
    float: left;
    width: 11%;
}

#right-pane {
    float: right;
    width: 18.75%;
}

#left-pane img,
#right-pane img, table {
    width: 100%;
}

table {
    table-layout: fixed;
    text-align: left;
}

th, td {
  padding: 0.4em 0;
}

thead th:last-child {
    width: 20%;
}

table {
    margin: 1.2em 0;
}
